{% extends "base.njk" %}

{% block extra_css %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2>buttons</h2>
                <button class="btn btn-default">Default</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-white">White</button>
            </div>
            <div class="col-xs-6">
                <h2>buttons versions</h2>
                <button class="btn btn-primary btn-lg">Large</button>
                <button class="btn btn-primary">Normal</button>
                <button class="btn btn-primary btn-sm">Small</button>
                <button class="btn btn-primary btn-xs">Extra Small</button>
            </div>
            <div class="col-xs-6">
                <h2>button styles</h2>
                <button class="btn btn-primary">Default</button>
                <button class="btn btn-primary btn-round">Round</button>
                <button class="btn btn-primary btn-round">
                    <i class="material-icons">favorite</i>
                    With Icon
                </button>
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
                    <i class="material-icons">favorite</i>
                </button>
                <button class="btn btn-primary btn-just-icon">
                    <i class="material-icons">favorite</i>
                </button>
                <button class="btn btn-primary btn-simple">Simple</button>
            </div>

            <div class="col-xs-6">
                <h2>checkboxes</h2>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="optionsCheckboxes">
                        Unchecked
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="optionsCheckboxes" checked>
                        Checked
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="optionsCheckboxes" disabled>
                        Disabled Unchecked
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="optionsCheckboxes" disabled checked>
                        Disabled Checked
                    </label>
                </div>
            </div>

            <div class="col-xs-6">
                <h2>radial buttons</h2>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios">
                        Radio is off
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" checked="true">
                        Radio is on
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosDisabled" disabled>
                        Disabled Radio is off
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosDisabled" checked="true" disabled>
                        Disabled Radio is on
                    </label>
                </div>
            </div>

            <div class="col-xs-6">
                <h2>toggle</h2>
                <div class="togglebutton">
                    <label>
                        <input type="checkbox" checked="">
                        Toggle is on
                    </label>
                </div>

                <div class="togglebutton">
                    <label>
                        <input type="checkbox">
                        Toggle is off
                    </label>
                </div>
            </div>

            <div class="col-xs-6">
                <h2>dropdowns</h2>
                <div class="col-md-3 dropdown">
                    <a href="#" class="btn btn-simple dropdown-toggle" data-toggle="dropdown">
                        Regular
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">One more separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>inputs</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Regular" class="form-control"/>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group label-floating">
                            <label class="control-label">With Floating Label</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group label-floating has-success">
                            <label class="control-label">Success input</label>
                            <input type="text" value="Success" class="form-control"/>
                            <span class="form-control-feedback">
                                <i class="material-icons">done</i>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group label-floating has-error">
                            <label class="control-label">Error input</label>
                            <input type="email" value="Error Input" class="form-control"/>
                            <span class="material-icons form-control-feedback">clear</span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">group</i>
                            </span>
                            <input type="text" class="form-control" placeholder="With Material Icons">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-group"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="With Font Awesome Icons">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>text area</h2>
                <textarea class="form-control" placeholder="Here can be your nice text" rows="5"></textarea>
            </div>
            <div class="col-xs-6">
                <h2>navbar</h2>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">One more separated link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-xs-6">
                <h2>nav pills</h2>
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li>
                        <a href="#dashboard" role="tab" data-toggle="tab">
                            <i class="material-icons">dashboard</i>
                            Dashboard
                        </a>
                    </li>
                    <li class="active">
                        <a href="#schedule" role="tab" data-toggle="tab">
                            <i class="material-icons">schedule</i>
                            Schedule
                        </a>
                    </li>
                    <li>
                        <a href="#tasks" role="tab" data-toggle="tab">
                            <i class="material-icons">list</i>
                            Tasks
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h2>pagination</h2>
                <ul class="pagination pagination-primary">
                    <li>
                        <a href="#"><</a></li> <li><a href="#">1</a></li> <li><a href="#">2</a></li> <li class="active"><a href="#">3</a></li> <li><a href="#">4</a></li> <li><a href="#">5</a></li> <li><a href="#">></a>
                    </li>
                </ul>

            </div>
            <div class="col-xs-6">
                <h2>progress bar</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        <span class="sr-only">30% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>

                <div class="progress progress-line-primary">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        <span class="sr-only">30% Complete</span>
                    </div>
                </div>
                <div class="progress progress-line-info">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 35%">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                        <span class="sr-only">20% Complete (warning)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                        <span class="sr-only">10% Complete (danger)</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>labels</h2>
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
            </div>
            <div class="col-xs-6">
                <h2>tables</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th>Job Position</th>
                            <th>Since</th>
                            <th class="text-right">Salary</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Andrew Mike</td>
                            <td>Develop</td>
                            <td>2013</td>
                            <td class="text-right">&euro; 99,225</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                    <i class="fa fa-user"></i>
                                </button>
                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>John Doe</td>
                            <td>Design</td>
                            <td>2012</td>
                            <td class="text-right">&euro; 89,241</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                    <i class="fa fa-user"></i>
                                </button>
                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>Alex Mike</td>
                            <td>Design</td>
                            <td>2010</td>
                            <td class="text-right">&euro; 92,144</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                    <i class="fa fa-user"></i>
                                </button>
                                <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <h2>datepicker</h2>
                <input class="datepicker form-control" type="text" value="03/12/2016"/>
            </div>

            <div class="col-xs-6">
                <h2>modal</h2>
                <!-- Button trigger modal -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Launch demo modal
                </button>

                <!-- Modal Core -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by
                                their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
                                One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-info btn-simple">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>tooltip</h2>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Button with Tooltip</button>
            </div>
            <div class="col-xs-6">
                <h2>popovers</h2>
                <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Here will be some very useful information about his popover.">On top</button>
            </div>
            <div class="col-xs-6">
                <h2>notifications</h2>
                <div class="alert alert-info">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </span>
                        </button>
                        <b>Info alert:</b>
                        You've got some friends nearby, stop looking at your phone and find them...
                    </div>
                </div>

                <div class="alert alert-success">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </span>
                        </button>
                        <b>Success Alert:</b>
                        Yuhuuu! You've got your $11.99 album from The Weeknd
                    </div>
                </div>

                <div class="alert alert-warning">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">warning</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </span>
                        </button>
                        <b>Warning Alert:</b>
                        Hey, it looks like you still have the "copyright &copy; 2015" in your footer. Please update it!
                    </div>
                </div>

                <div class="alert alert-danger">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">error_outline</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </span>
                        </button>
                        <b>Error Alert:</b>
                        Damn man! You screwed up the server this time. You should find a good excuse for your Boss...
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </div>

{% endblock %}

{% block extra_js %}{% endblock %}
